<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" th:href="@{/ajax/libs/bootstrap-fileinput-master/css/fileinput.css}">
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form action="" class="form-horizontal" id="form-account-add">
        <input type="hidden" name="companyId">
        <div class="form-group">
            <div class="col-sm-6">
                <div class="row">
                    <label class="col-sm-4 control-label">账户名：</label>
                    <div class="col-sm-8">
                        <input id="loginName" name="loginName" class="form-control" type="text" placeholder="请输入账户名" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <label class="col-sm-4 control-label">密码：</label>
                    <div class="col-sm-8">
                        <input id="password" name="password" class="form-control" type="password" placeholder="请输入密码" required  autocomplete="new-password">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <div class="row">
                    <label class="col-sm-4 control-label">手机号：</label>
                    <div class="col-sm-8">
                        <input id="phonenumber" name="phonenumber" class="form-control" type="text" placeholder="请输入手机号" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <label class="col-sm-4 control-label">邮箱：</label>
                    <div class="col-sm-8">
                        <input id="email" name="email" class="form-control" type="text" placeholder="请输入邮箱" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <div class="row">
                    <label class="col-sm-4 control-label">用户姓名：</label>
                    <div class="col-sm-8">
                        <input id="userName" name="userName" class="form-control" type="text" placeholder="请输入用户姓名" required>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/bootstrap-fileinput-master/js/fileinput.js}"></script>
<script th:src="@{/ajax/libs/bootstrap-fileinput-master/js/locales/zh.js}"></script>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "operate/account";
    // 表单验证
    $("#form-account-add").validate({
        rules: {
            loginName: {
                required: true,
                minlength: 2,
                maxlength: 20,
                remote: {
                    url: prefix + "/selectCountByLoginName",
                    type: "post",
                    dataType: "json",
                    data: {
                        name: function () {
                            return $.common.trim($("#loginName").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            phonenumber: {
                isMobile: true
            },
            email:{
                isMail: true
            }
        },
        messages: {
            loginName: {
                remote: "用户已经存在"
            },
            phonenumber:{
                isMobile : "请填写正确手机号格式"
            },
            email:{
                isMail:"请填写正确的邮箱格式"
            }
        }
    });

    $(function(){
        // 根据url参数获取companyId保存在input中
        var companyId = $.getUrlQuery('cid');
        $('input[name=companyId]').val(companyId);
        // $('form').reset();
    });

    function submitHandler(pName) {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-account-add').serialize(),pName);
        }
    }

</script>
</body>
</html>
