<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="content-box-flex">
<div class="col-sm-12 search-collapse">
    <form id="formId">
        <div class="select-list">
            <ul>
                <li>账号名：<input type="text" id="loginName" name="loginName"/></li>
                <li>
                    推广企业：<select id="companyId" name="companyId"></select>
                </li>
                <li>
                    <a class="btn btn-primary  btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    <a class="btn btn-warning  btn-sm" onclick="reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                </li>
            </ul>
        </div>
    </form>
</div>
<div class="col-sm-12 select-table table-striped">
    <table id="bootstrap-table" data-mobile-responsive="true"></table>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var data = [[${@dict.getType('sys_user_sex')}]];
    var accountPrefix = ctx + "operate/account";
    $(function () {
        var options = {
            url: accountPrefix + "/notAdminAccountList",
            modalName: "账号",
            search: false,
            showExport: false,
            columns: [
                {
                    field: 'accountId',
                    title: '编号',
                    visible: false
                },
                {
                    field: 'company',
                    title: '账号类型',
                    formatter: function (value, row, index) {
                        if (value == ''|| value == null) {
                            return "游客";
                        }
                        else{
                            return "普通会员"
                        }
                    }
                },
                {
                    field: 'company',
                    title: '推广企业',
                    formatter: function (value, row, index) {
                        return value ? value.companyName : '-';
                    }
                },
                {
                    field: 'loginName',
                    title: '账号名'
                },
                {
                    field: 'userName',
                    title: '登录姓名'
                },
                {
                    field: 'roleArr',
                    title: '所属角色'
                },
                {
                    field: 'email',
                    title: '用户邮箱',
                    formatter: function (value, row, index) {
                        if (value == '' || value == null) {
                            return "-";
                        } else {
                            return value;
                        }
                    }
                },
                {
                    field: 'phonenumber',
                    title: '手机号'
                },
                {
                    field: 'sex',
                    title: '性别',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(data, value);
                    }
                },
                {
                    field: 'updateTime',
                    title: '提交时间'
                },
                {
                    field: 'delFlag',
                    title: '用户状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        if (value === '0') {
                            return '<span class="text-success">在职</span>';
                        } else {
                            return '<span class="text-danger">已离职</span>';
                        }
                    }
                },
            ]
        };
        $.table.init(options);
    });

    $.initSelect({
        config: {
            el: "#companyId",
            url: "/operate/company/list",
            value: 'companyId',
            key: 'companyName',
            style: {
                width: '280px'
            },
            onChange: function (val) {
                var val = $("#companyId").select2('val');

                $('input[name=companyId]').val(val);
            }
        }
    });

    function submitHandler() {
        $.modal.close();
    }

    function reset() {
        $('#companyId').select2('val', 'all');
        // 重置事件
        $('#loginName').val('');
    }
</script>
</body>
</html>