<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uustop.project.system.student.mapper.StudentClassMapper">
	<resultMap type="StudentClass" id="StudentClassResult">
		<id property="stuDeptId" column="stu_dept_id"/>
		<result property="stuParentId" column="stu_parent_id"/>
		<result property="stuAncestors" column="stu_ancestors"/>
		<result property="stuDeptName" column="stu_dept_name"/>
		<result property="stuOrderNum" column="stu_order_num"/>
		<result property="stuLeader" column="stu_leader"/>
		<result property="stuPhone" column="stu_phone"/>
		<result property="stuEmail" column="stu_email"/>
		<result property="stuStatus" column="stu_status"/>
		<result property="stuDelFlag" column="stu_del_flag"/>
		<result property="stuCreateBy" column="stu_create_by"/>
		<result property="stuCreateTime" column="stu_create_time"/>
		<result property="stuUpdateBy" column="stu_update_by"/>
		<result property="stuUpdateTime" column="stu_update_time"/>
	</resultMap>


	<sql id="selectDeptVo">
        select c.stu_dept_id, c.stu_parent_id, c.stu_ancestors, c.stu_dept_name, c.stu_order_num, c.stu_leader, c.stu_phone, c.stu_email, c.stu_status, c.stu_del_flag, c.stu_create_by, c.stu_create_time ,c.stu_update_by,c.stu_update_time
        from student_class c
    </sql>
    
	<select id="selectRoleStuDeptTree" parameterType="Long" resultType="String">
		select concat(c.stu_dept_id, c.stu_dept_name) as stu_dept_name
		from student_class c
			left join student_personnel p on c.stu_dept_id = p.stu_dept_id
		where c.stu_del_flag = '0' and p.stu_user_id = #{stuUserId}
		order by c.stu_parent_id, c.stu_order_num
	</select>
	
	<select id="selectDeptList" parameterType="StudentClass" resultMap="StudentClassResult">
        <include refid="selectDeptVo"/>
        where c.stu_del_flag = '0'
        <if test="stuParentId != null and stuParentId != 0">
			AND stu_parent_id = #{stuParentId}
		</if>
		<if test="stuDeptName != null and stuDeptName != ''">
			AND stu_dept_name like concat('%', #{stuDeptName}, '%')
		</if>
		<if test="stuStatus != null and stuStatus != ''">
			AND stu_status = #{stuStatus}
		</if>
		<!-- 数据范围过滤 -->
		order by c.parent_id asc , c.order_num asc ,c.update_time desc
    </select>
	
	<select id="checkStudentClassExistUser" parameterType="Long" resultType="int">
		select count(1) from student_personnel where stu_dept_id = #{deptId} and stu_del_flag = '0'
	</select>


</mapper> 