<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-area-add">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="level">层级：</label>
            <div class="col-sm-8">
                <select class="form-control isSelect2" name="level" id="level" th:with="data=${@dict.getType('sys_area_level')}" required>
                    <option value="">---请选择---</option>
                    <option th:each="data:${data}" th:value="${data.dictValue}" th:text="${data.dictLabel}"></option>
                </select>
            </div>
        </div>
        <!--级联容器-->
        <div id="area">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">名称：</label>
            <div class="col-sm-3">
                <input id="name" name="name" class="form-control" type="text" required>
            </div>
            <label class="col-sm-2 control-label">拼音：</label>
            <div class="col-sm-3">
                <input id="pinyin" name="pinyin" class="form-control" type="text" required data-rule-isEN="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">首字母：</label>
            <div class="col-sm-3">
                <input id="first" name="first" class="form-control" type="text" required data-rule-isEN="true" data-msg-isEN="请填写正确首字母" >
            </div>
            <label class="col-sm-2 control-label">长途区号：</label>
            <div class="col-sm-3">
                <input id="code" name="code" class="form-control" type="text" data-rule-isNum="true" data-msg-isNum="请输入正确的长途区号">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">邮编：</label>
            <div class="col-sm-3">
                <input id="zipCode" name="zipCode" class="form-control" type="text" data-rule-isZip="true">
            </div>
            <label class="col-sm-2 control-label">备注：</label>
            <div class="col-sm-3">
                <input id="shortName" name="shortName" class="form-control" type="text" required>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">

    //验证
    var prefix = ctx + "system/area";
    $("#form-area-add").validate({
        rules: {
            name: {
                required: true,
                minlength: 2,
                maxlength: 20,
                remote: {
                    url: prefix + "/checkAreaNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name: function () {
                            return $.common.trim($("#name").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            }
        },
        messages: {
            name: {
                remote: "所属地区已经存在"
            }
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-area-add').serialize());
        }
    }

    // 联动
    $('#level').change(function (e) {
        var val = $(this).find('option:selected').val();
        $('#area').html('');
        if (val == 1) {
            // 省
            var province = $('<input type="hidden" name="pid" value="0"/>');
            $('#area').append(province);
        } else if (val == 2) {
            // 市
            var province = $('<div class="form-group"><label class="col-sm-2 control-label">所属省：</label><div class="col-sm-8"><select name="pid" id="province" class="form-control"></select></div></div>');
            $('#area').append(province);
            $.initSelect({
                config: {
                    el: '#province',
                    url: '/system/area/list',
                    list: 'rows',
                    value: 'areaId',
                    key: 'name',
                    data: {
                        level: 1
                    }
                }
            })
        } else if (val == 3) {
            // 区县
            var province = $('<div class="form-group"><label class="col-sm-2 control-label">所属省：</label><div class="col-sm-8"><select name="" id="province" class="form-control"></select></div></div>');
            var city = $('<div class="form-group"><label class="col-sm-2 control-label">所属市：</label><div class="col-sm-8"><select name="pid" id="city" class="form-control"></select></div></div>');
            $('#area').append(province).append(city);

            $.initSelect({
                config: {
                    el: '#province',
                    url: '/system/area/list',
                    list: 'rows',
                    value: 'areaId',
                    key: 'name',
                    data: {
                        level: 1
                    },
                    children: {
                        el: '#city',
                        url: '/system/area/list',
                        list: 'rows',
                        param: 'pid',
                        value: 'areaId',
                        key: 'name',
                    }
                }
            })
        }
    })
</script>
</body>
</html>
