<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-notice-add">
        <div class="form-group">
            <label for="noticeType" class="col-sm-2 control-label">消息类型：</label>
            <div class="col-sm-3 input-box validate">
                <select name="noticeType" id="noticeType" class="form-control" required></select>
            </div>
            <label for="enterpriseType" class="col-sm-2 control-label">单位类型：</label>
            <div class="col-sm-3 input-box validate">
                <select name="enterpriseType" id="enterpriseType" class="form-control" required></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="provinceId" >所属地区：</label>
            <div class="col-sm-3 input-box validate" >
                <select name="provinceId" id="provinceId" class="form-control" ></select>
            </div>
            <div class="col-sm-3 input-box validate">
                <select name="cityId" id="cityId" ></select>
                <input type="hidden" name="cityName" class="form-control" value="">
            </div>
        </div>
        <div class="form-group" id="enterpriseId-box">
            <label for="enterpriseId" class="col-sm-2 control-label">企业名称：</label>
            <div class="col-sm-3 input-box validate">
                <select name="enterpriseId" id="enterpriseId" class="form-control" required></select>
            </div>
            <label for="sendTo" class="col-sm-2 control-label">接收者：</label>
            <div class="col-sm-3 input-box validate">
                <select name="sendTo" id="sendTo" class="form-control" required></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">消息标题：</label>
            <div class="col-sm-8">
                <input id="noticeTitle" name="noticeTitle" class="form-control" type="text" required maxlength="20">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">消息内容：</label>
            <div class="col-sm-8">
                <textarea id="noticeContent" name="noticeContent" class="form-control" rows="4" style="height: 300px" required
                          maxlength="500" placeholder="输入字数最多500字"></textarea>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script>
    var prefix = ctx + "system/notice";
    //主体类型
    $.initSelect({
        config: {
            el: "#enterpriseType",
            url: "/system/dict/data/list",
            data: {
                dictType: "sys_enterprise_type"
            },
            value: 'dictValue',
            key: 'dictLabel',
            onChange: function(){
                if ($('#enterpriseType').val()== -1){
                    $('#provinceId').attr("disabled",true);
                    $('#cityId').attr("disabled",true);

                }else{
                    $('#provinceId').attr("disabled",false);
                    $('#cityId').attr("disabled",false);
                }
            },
            extraOptions: [{
                text: '所有企业',
                value: -1
            }],
            children: {
                el: "#enterpriseId",
                url: "/system/person/list",
                param: 'dictValue',
                key: 'enterpriseName',
                value: 'enterpriseId',
                data: {
                    flag: 1,
                    userType: 2
                },
                pData: {
                    type: '#enterpriseType'
                },
                extraOptions: [{
                    text: '所有人',
                    value: -1
                }],
                children: {
                    el: "#sendTo",
                    url: "/system/person/list",
                    param: 'enterpriseId',
                    key: 'userName',
                    value: 'id',
                    data: {
                        userType: 2
                    },
                    pData: {
                        type: '#enterpriseType'
                    },
                    extraOptions: [{
                        text: '所有人',
                        value: -1
                    }]
                }
            }
        }


    });
    //通知类型
    $.initSelect({
        config: {
            el: "#noticeType",
            url: "/system/dict/data/list",
            data: {
                dictType: "sys_notice_type"
            },
            value: 'dictValue',
            key: 'dictLabel'
        }
    });

    $.initSelect({
        config: {
            el: '#provinceId',
            url: '/system/area/list',
            value: 'areaId',
            key: 'name',
            data: {
                level: 1
            },
            placeholder: '请选择省份',
            onChange: function () {
                $('input[name=provinceId]').val($("#provinceId").select2('val'));
            },
            children: {
                el: '#cityId',
                value: 'areaId',
                key: 'name',
                url: '/system/area/list',
                param: 'pid',
                placeholder: '请选择城市',
                onChange: function () {
                    $('input[name=cityId]').val($("#cityId").select2('val'));
                    $('input[name=cityName]').val($("#cityId").select2('data')[0].text);
                },
                children: {
                    el: "#enterpriseId",
                    url: "/system/person/list",
                    param: 'cityId',
                    key: 'enterpriseName',
                    value: 'enterpriseId',
                    data: {
                        flag: 1,
                        userType: 2
                    },
                    pData: {
                        type: '#enterpriseType'
                    },
                    // extraOptions: [{
                    //     text: '所有人',
                    //     value: -1
                    // }]
                    }
                }
            }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-notice-add').serialize());
        }
    }

    // var first_select=document.getElementById("enterpriseType");
    // first_select.onchange=function () {
    //     console.log(first_select.value);
    //     if (first_select.value==-1){
    //         document.getElementById('provinceId').setAttribute('disabled','true');
    //         document.getElementById('cityId').setAttribute('disabled','true');

    //     }else{
    //         document.getElementById('provinceId').disabled=false;
    //         document.getElementById('cityId').disabled=false;

    //     }
    // }
</script>
</body>
</html>
