<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uustop.project.operate.mfrs.mapper.MfrsAccountMapper">

    <resultMap type="User" id="UserResult">
		<id     property="accountId"       column="account_id"      />
		<result property="deptId"       column="dept_id"      />
		<result property="userType"       column="user_type"      />
		<result property="loginName"    column="login_name"   />
		<result property="userName"     column="user_name"    />
		<result property="email"        column="email"        />
		<result property="phonenumber"  column="phonenumber"  />
		<result property="sex"          column="sex"          />
		<result property="avatar"       column="avatar"       />
		<result property="password"     column="password"     />
		<result property="salt"         column="salt"         />
		<result property="status"       column="status"       />
		<result property="delFlag"      column="delFlag"      />
		<result property="loginIp"      column="login_ip"     />
		<result property="loginDate"    column="login_date"   />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateBy"     column="update_by"    />
		<result property="updateTime"   column="update_time"  />
		<result property="remark"       column="remark"       />
		<result property="mfrsId"       column="mfrs_id"      />
		<result property="dataScope"       column="data_scope"      />
		<result property="roleArr"       column="role_arr"      />
		<association property="dept"    column="dept_id" javaType="Dept" resultMap="deptResult" />
		<collection  property="roles"   javaType="java.util.List"        resultMap="RoleResult" />
	</resultMap>

	<resultMap type="MfrsAccount" id="MfrsAccountResult">
		<id     property="accountId"       column="account_id"      />
		<result property="deptId"       column="dept_id"      />
		<result property="userType"       column="user_type"      />
		<result property="loginName"    column="login_name"   />
		<result property="userName"     column="user_name"    />
		<result property="email"        column="email"        />
		<result property="phonenumber"  column="phonenumber"  />
		<result property="sex"          column="sex"          />
		<result property="avatar"       column="avatar"       />
		<result property="password"     column="password"     />
		<result property="salt"         column="salt"         />
		<result property="status"       column="status"       />
		<result property="delFlag"      column="delFlag"      />
		<result property="loginIp"      column="login_ip"     />
		<result property="loginDate"    column="login_date"   />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateBy"     column="update_by"    />
		<result property="updateTime"   column="update_time"  />
		<result property="remark"       column="remark"       />
		<result property="mfrsId"       column="mfrs_id"      />
		<result property="dataScope"       column="data_scope"      />
		<result property="roleArr"       column="role_arr"      />
		<result property="flag"       column="flag"      />
		<result property="delFlag"       column="del_flag"      />
		<association property="dept"    column="dept_id" javaType="Dept" resultMap="deptResult" />
		<association property="mfrs"    column="mfrs" javaType="mfrs" resultMap="MfrsResult" />
		<collection  property="roles"   javaType="java.util.List"        resultMap="RoleResult" />
	</resultMap>

	<resultMap type="Mfrs" id="MfrsResult">
		<result property="mfrsId" column="mfrs_id"/>
		<result property="name" column="name"/>
		<result property="shortName" column="short_name"/>
		<result property="description" column="description"/>
		<result property="delFlag" column="del_flag"/>
		<result property="createBy" column="create_by"/>
		<result property="createTime" column="create_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="provinceId" column="province_id"/>
		<result property="cityId" column="city_id"/>
		<result property="countyId" column="county_id"/>
		<result property="areaArr" column="area_arr"/>
		<result property="linkmanName" column="linkman_name"/>
		<result property="phoneNumber" column="phone_number"/>
		<result property="number" column="number"/>
	</resultMap>

	<resultMap id="deptResult" type="Dept">
		<id     property="deptId"   column="dept_id"     />
		<result property="parentId" column="parent_id"   />
		<result property="deptName" column="dept_name"   />
		<result property="orderNum" column="order_num"   />
		<result property="status"   column="dept_status" />
	</resultMap>

	<resultMap id="RoleResult" type="Role">
		<id     property="roleId"       column="role_id"        />
		<result property="roleName"     column="role_name"      />
		<result property="roleKey"      column="role_key"       />
		<result property="roleSort"     column="role_sort"      />
		<result property="dataScope"     column="data_scope"    />
		<result property="status"       column="role_status"    />
	</resultMap>

    <sql id="selectUserVo">
        select  u.account_id,u.mfrs_id,u.login_name, u.user_name, u.email, u.phonenumber, u.sex, u.avatar, u.password,
                u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_time,u.update_time, u.remark,u.user_type,
       		    d.dept_id, d.parent_id, d.dept_name, d.order_num, d.status as dept_status,dm.name,
       		    deptResult.role_id, deptResult.role_name, deptResult.role_key, deptResult.role_sort,u.data_scope, deptResult.status as role_status,
                group_concat(distinct deptResult.role_name separator '/') as role_arr
		from mfrs_account u
			 left join mfrs_dept d on u.dept_id = d.dept_id and d.del_flag=0
		     left join dis_mfrs dm on dm.mfrs_id=u.mfrs_id and d.del_flag = 0
			 left join mfrs_user_role ur on u.account_id = ur.account_id
			 left join mfrs_role deptResult on deptResult.role_id = ur.role_id and deptResult.del_flag=0
    </sql>

	<select id="selectUserList" parameterType="MfrsAccount" resultMap="MfrsAccountResult">
	    <include refid="selectUserVo"/>
			where  u.user_type>1
			<if test="loginName != null and loginName != ''">
				AND u.login_name like concat('%', #{loginName}, '%')
			</if>
			<if test="userName != null and userName != ''">
				AND u.user_name like concat('%', #{userName}, '%')
			</if>
			<if test="status != null and status != ''">
				AND u.status = #{status}
			</if>
			<if test="mfrsId != null and mfrsId != ''">
				AND u.mfrs_id = #{mfrsId}
			</if>
			<if test="phonenumber != null and phonenumber != ''">
				AND u.phonenumber like concat('%', #{phonenumber}, '%')
			</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
			<if test="deptId != null and deptId != 0">
				AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM mfrs_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
			</if>
			 <if test="flag != null and flag == 1">
				 and dm.name is not null group by dm.mfrs_id
			 </if>
			  <if test="flag == null">
				  group by u.account_id order by u.update_by
			  </if>
	</select>

   <update id="updateMfrsAccount" parameterType="User">
 		update mfrs_account
 		<set>
 			<if test="deptId != null ">dept_id = #{deptId},</if>
 			<if test="loginName != null ">login_name = #{loginName},</if>
 			<if test="userName != null ">user_name = #{userName},</if>
 			<if test="email != null ">email = #{email},</if>
 			<if test="phonenumber != null">phonenumber = #{phonenumber},</if>
 			<if test="sex != null">sex = #{sex},</if>
 			<if test="avatar != null ">avatar = #{avatar},</if>
 			<if test="password != null ">password = #{password},</if>
 			<if test="salt != null ">salt = #{salt},</if>
 			<if test="status != null ">status = #{status},</if>
 			<if test="loginIp != null ">login_ip = #{loginIp},</if>
 			<if test="loginDate != null">login_date = #{loginDate},</if>
 			<if test="updateBy != null ">update_by = #{updateBy},</if>
 			<if test="remark != null ">remark = #{remark},</if>
			<if test="delFlag != null ">del_flag = #{delFlag},</if>
			<if test="mfrsId != null ">mfrs_id = #{mfrsId},</if>
			<if test="dataScope != null ">data_scope = #{dataScope},</if>
 			update_time = sysdate()
 		</set>
 		where account_id = #{accountId}
	</update>

	<select id="selectUserByLoginName" parameterType="String" resultMap="MfrsAccountResult">
		<include refid="selectUserVo"/>
		where u.login_name = #{userName} and u.del_flag = '0'
	</select>
</mapper>