<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-student-add">
        <input name="stuDeptId" type="hidden" id="treeId"/>
        <div class="form-group">
            <label class="col-sm-2 control-label ">账号名：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" id="stuLoginName" name="stuLoginName"/>
            </div>
            <label class="col-sm-2 control-label">所属机构：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="stuDeptName" onclick="selectDeptTree()" readonly="true" id="treeName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户姓名：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="stuUserName" id="stuUserName">
            </div>
            <label class="col-sm-2 control-label">密码：</label>
            <div class="col-sm-3">
                <input class="form-control" type="password" name="stuPassword" id="stuPassword">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">邮箱：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="stuEmail" id="stuEmail">
            </div>
            <label class="col-sm-2 control-label">绑定手机号：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="stuPhonenumber" id="stuPhonenumber">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">性别：</label>
            <div class="col-sm-3">
                <select id="sex" class="form-control m-b isSelect2" th:with="type=${@dict.getType('sys_user_sex')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">角色：</label>
            <div class="col-sm-8">
                <label th:each="role:${roles}" class="check-box">
                    <input name="role" type="checkbox" th:value="${role.roleId}" th:text="${role.roleName}" th:readonly="${role.status == '1'}">
                </label>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>
    $("#form-studet-add").validate({
        rules: {
            stuLoginName: {
                required: true,
                minlength: 4,
                maxlength: 20,
                remote: {
                    url: ctx + "system/student/checkLoginNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name: function () {
                            return $.common.trim($("#stuLoginName").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            stuUserName: {
                required: true
            },
            stuDeptName: {
                required: true
            },
            stuPassword: {
                required: true,
                isPassword: true
            },
            stuEmail: {
                required: true,
                email: true,
                remote: {
                    url: ctx + "system/student/checkEmailUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name: function () {
                            return $.common.trim($("#stuEmail").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            stuPhonenumber: {
                required: true,
                isPhone: true,
                remote: {
                    url: ctx + "system/student/checkPhoneUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name: function () {
                            return $.common.trim($("#stuPhonenumber").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            }
        },
        messages: {
            "stuLoginName": {
                remote: "用户已经存在"
            },
            "stuEmail": {
                remote: "Email已经存在"
            },
            "stuPhonenumber": {
                remote: "手机号已经存在"
            },
            "stuPassword": {
                isPassword: "请输入至少八个字符，至少一个字母和一个数字"
            }
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            add();
        }
    }

    function add() {
        var stuUserId = $("input[name='stuUserId']").val();
        var stuDeptId = $("input[name='stuDeptId']").val();
        var stuLoginName = $("input[name='stuLoginName']").val();
        var stuUserName = $("input[name='stuUserName']").val();
        var stuPassword = $("input[name='stuPassword']").val();
        var stuEmail = $("input[name='stuEmail']").val();
        var stuPhonenumber = $("input[name='stuPhonenumber']").val();
        var stuSex = $("#sex option:selected").val();
        var stuStatus = 0;
        var roleIds = $.form.selectCheckeds("role");
        var postIds = $.form.selectSelects("post");
        $.ajax({
            cache: true,
            type: "POST",
            url: ctx + "system/student/add",
            data: {
                "stuUserId": stuUserId,
                "stuDeptId": stuDeptId,
                "stuLoginName": stuLoginName,
                "stuUserName": stuUserName,
                "stuPassword": stuPassword,
                "stuEmail": stuEmail,
                "stuPhonenumber": stuPhonenumber,
                "stuSex": sex,
                "stuStatus": status,
                "roleIds": roleIds,
                "postIds": postIds
            },
            async: false,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                $.operate.successCallback(data);
            }
        });
    }

    /*用户管理-新增-选择组织机构树*/
    function selectDeptTree() {
        var treeId = $("#treeId").val();
        var stuDeptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var options = {
            title: '选择组织机构',
            width: "380",
            url: ctx + "system/school/selectDeptTree/" + stuDeptId,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }
</script>
</body>
</html>
